@font-face {
    font-family: monofur;
    src: url("/fonts/monofur/Monofur.woff2");
}

@media screen and (max-width: 500px) {
    .preamble {
        display: flex;
    }
}

body {
    max-width: 80%;
    margin: auto;
    background-color: #21140a;
    /* fonts */
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ab8151;
    /* color: #222222; */

}
body a:visited {
    color: #a99e90;
}
body a:link {
    color: #ffffff;
}

/*h1, h2, h3, h4 {
    color: #ab8151;
}*/
h1 a:visited, h1 a:link, h2 a:visited, h2 a:link, h3 a:visited, h3 a:link, h4 a:visited, h4 a:link {
    color: #ab8151;
    text-decoration: none;
    font-style: normal;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    font-style: italic;
}

h1 a:hover:before, h2 a:hover:before, h3 a:hover:before, h4 a:hover:before {
	content: "~";
	text-decoration: underline;
	font-size: 130%;
	font-style: normal;
	padding: 5px;
	color: #4881fF;
}

h1 a:active, h2 a:active, h3 a:active, h4 a:active {
    color: #B25756;
}

.preamble {
    /* background: #330000; */
    background : #c0352d;
    color: #ffffff;
    padding: 12px;
    margin: auto;
    margin-top: 2%;
    border-radius: 14px;
    display: inline-block;
    width: 100%;
    font-family: monofur;
    font-size: 115%;
    /* border: 1px solid red; */
}
.preamble a:link {
    color: #ffffff;
    text-decoration: none;
}
.preamble a:visited {
    color: #ffffff;
    text-decoration: none;
    /* color: #a99e90; */
}
.preamble a:hover {
    color: #00ffff;
    text-decoration: none;
}
.preamble a:active {
    /* text-decoration: none; */
}

.homepage {
  float: left;
}
.langs {
  float: right;
}

.footerCopy {
    /* background: #aeaeae;*/
    /* font-family: Arial; */
    /* color: #222222; */
    /* color: #23272F; */
    /* color: #160427; */
    color: #aab2ab;
    margin: 10px;
    text-align: center;
    /* padding: 10px; */
}
.footerCopy a:visited, .footerCopy a:link {
    /* color: #a99e90; */
    /* color: #23272F; */
    /* color: #160427; */
    color: #aab2ab;

}
.footerCopy img {
    width: 12%;
    max-width: 300px;
    text-align: center;
    margin: 10px;
}

img {
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
    /* height:100%; */
}

.subtitle {
    font-family: serif, sans-serif;
    text-align: left;
    float: right;
    font-size: medium;
    font-weight: normal;
    font-style: italic;
    margin-top: 0;
}

.title {
    text-align: center;
    margin: 1em;
	font-size: 2.4em;
}

.example {
    background : #a99e90;
    color : black;
}

code {
    font-size: 110%;
    margin: 1.5px;

}

blockquote p {
    font-family: 'Special Elite', cursive;
    color: #3a3F44;
    border-left: 1rem solid #B25756;
    background-color: #1a121a;
    padding: 0.5rem;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

.toc {
	font-size: 110%;
	background: #90aFbF;
	border-radius: 14px;
	padding: 1em;
	margin: 10px;
	float: right;
	color: #330000;
}

details p, details a:link {
    text-decoration: none;
}

summary {
	display: inline-block;
	font-size: 120%;
}
a.footnote-ref::before {
	content: '[';
}

a.footnote-ref::after {
	content: ']';
}

/* toggle is the button in <sup> that makes visible the sidenote */
.toggle:focus {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: all;
	opacity: 0.4;
	cursor: not-allowed;
}

.toggle:focus + .sidenote {
	display:block;
}

.sidenote-ref { /* the little text that appears in <sup> (button) */
	border: none;
	cursor: pointer;
	background: #92ffa0;
	border-radius: 0.3rem;
	font-size: 1.0em;
	vertical-align: super; /* <sup> */
	margin: 0px 0px 0px 0px;
	padding: 0px 5px 0px 5px;
}

.sidenote { /* the actual sidenote */
	display:none;
	width: 30%;
	padding-left: 15px;
	margin-left: 15px;
	float: right;
	font-style: italic;
	background-color: lightgray;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.highlight code { /* codeblocks */
  overflow: auto;
  padding: 12px;
  display: block;
}

:not(pre) > code { /* inline <code> */
    border: 1px solid #222222;
	background: #272822;
    /*
	These colors are pretty good, but are very distracting
	background: #160427;
	color: #ae60bd;
	 */

	margin: 2px;
	padding: 1.5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

figcaption {
	text-align: center;
	font-family: monofur;
	margin-bottom: 30px;
}

.man-page {
	width: 1.5em;
    height: 1.5em;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 10px;
	right: 10px;
	vertical-align: sub; /* <sub> below the text */
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
}

.glossary { /* similar to .toc this is <details> */
	float: right;
	display: inline;
	padding: 10px;
}
